@media screen and (max-width: 600px) {
    .setHeight{
       height:500px;
     }
}
@media screen and (max-width: 1020px) {
    .setHeight{
       height:400px;
     }
}
@media screen and (max-width: 1500px) {
    .setHeight{
       height:400px;
     }
}
@media screen and (max-width: 1920px) {
    .setHeight{
       height:780px;
     }
}
